@font-face {
	font-family: "Rubik";
	src: url(/assets/fonts/Rubik-VariableFont_wght.ttf);
}
@mixin mobile() {
	@media screen and (max-width: 480px) {
		@content;
	}
}

@mixin tablet() {
	@media screen and (max-width: 756px) {
		@content;
	}
}

:root {
	--rubik-font: "Rubik";
	--main-color: #2aa842;
	--second-color: #ff843a;
	--footer-bg: #1d6f2d;
	--silver-color: #656565;
}

html,
body {
	font-family: var(--rubik-font), sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 130%;
	&::-webkit-scrollbar-thumb {
		background-color: var(--main-color);
	}
}

li {
	list-style-type: none;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}
input,
button,
textarea,
select {
	cursor: pointer;
	border: none;
	outline: none;
	font-family: var(--rubik-font), sans-serif;
	padding: 0 20px;
}

.wrapper {
	max-width: 1920px;
	margin: 0 auto;
}
.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
	@include tablet() {
		padding: 0 15px;
	}
	@include mobile() {
		padding: 0 10px;
	}
}
.none {
	display: none;
}

.burger-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-height: 100vh;
	height: 100%;
	padding: 10px;
	background: white;
	z-index: 200;

	&-show {
		display: block;
	}

	.burger-modal-close {
		display: flex;
		align-items: start;
		justify-content: space-between;
		flex-direction: column;
		text-align: left;
		border-bottom: 1px solid rgb(231, 231, 231);
		padding-bottom: 8px;
		margin-bottom: 10px;

		.about {
			img {
				width: 140px;
			}

			p {
				font-size: 12px;
				font-weight: 300;
			}
		}
		.close-icon {
			position: absolute;
			top: 10px;
			right: 10px;
			ion-icon {
				font-size: 30px;
			}
		}
	}

	&-categories {
		padding: 0 10px;
		&-show {
			display: block;
		}
		.all_categories,
		.main_menu {
			.menu {
				ul {
					display: flex;
					flex-direction: column;
					grid-gap: 15px;
					border-top: 1px solid #e7e7e7;
					padding-top: 10px;
					margin-top: 10px;
					&:first-child {
						border-top: none;
						padding-top: 0px;
						margin-top: 0px;
					}

					li {
						a {
							font-size: 18px;
							font-weight: 500;
						}
					}
				}
			}
		}
		.sub-category {
			.return_menu {
				margin-bottom: 10px;
				background: transparent;
				font-size: 16px;
				max-width: 100%;
				padding: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				grid-gap: 10px;
				font-weight: 600;
			}
			.category {
				.category_title {
					margin-bottom: 10px;
					strong {
						color: var(--main-color);
						font-size: 18px;
						font-weight: 500;
					}
				}
				ul {
					margin-left: 10px;
					margin-bottom: 20px;
					strong {
						font-weight: 500;
						display: inline-block;
						margin-bottom: 5px;
					}
					li {
						margin-left: 10px;
						margin-bottom: 5px;
						a {
							font-weight: 300;
						}
					}
				}
			}
		}
	}
}

header {
	// === TOP HEADER ===
	.top_header {
		padding: 13px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.top_header__left {
			@include mobile {
				display: none;
			}
			display: flex;
			align-items: center;
			grid-column-gap: 5px;
			.icon {
				display: flex;
				align-items: center;
				justify-content: center;
				img {
					width: 16px;
					height: auto;
				}
			}
			.country_list {
				select {
					border: none;
					min-width: 150px;
				}
			}
		}
		.header_logo {
			display: none;
			@include mobile {
				display: block;
			}
			a {
				display: flex;
				align-items: center;
				img {
					max-width: 200px;
				}
			}
		}
		.favorite-card-menu {
			display: none;
			align-items: center;
			grid-column-gap: 10px;
			@include mobile {
				display: flex;
				grid-column-gap: 17px;
			}
			a,
			button {
				display: flex;
				flex-direction: column;
				align-items: center;
				background: transparent;
				padding: 0;
				@include mobile() {
				}
				img {
					max-width: 20px;
					height: 18px;

					@include mobile() {
						height: 16px;
						max-width: 20px;
					}
				}
				span {
					font-size: 10px;
					@include mobile() {
						display: none;
					}
				}
			}
		}
		.top_header__right {
			@include mobile {
				display: none;
			}
			display: flex;
			grid-column-gap: 20px;
			a {
				font-size: 12px;
				color: var(--silver-color);
				&:hover {
					color: var(--main-color);
				}
			}
		}
	}

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.header_logo {
			@include mobile {
				display: none;
			}
			a {
				display: flex;
				align-items: center;
				img {
					max-width: 200px;
				}
				p {
					padding-left: 5px;
					border-left: 1px solid var(--silver-color);
					max-width: 200px;
					font-size: 9px;
					color: var(--silver-color);
					@media (max-width: 1085px) {
						display: none;
					}
				}
			}
		}
		.right-block {
			display: flex;
			align-items: center;
			grid-column-gap: 40px;

			@include mobile {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
			}
			button {
				background-color: var(--main-color);
				color: white;
				width: 100%;
				border-radius: 6px;
				display: none;
				align-items: center;
				grid-column-gap: 10px;
				&.burger-modal-menu {
					height: 40px;
					span {
						color: white;
					}
				}

				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				-ms-border-radius: 6px;
				-o-border-radius: 6px;
				@include mobile {
					display: flex;
				}
				img {
					width: 18px;
					height: 18px;
				}
				span {
					color: black;
					font-size: 16px;
				}
			}
			.header-search {
				@include mobile {
					display: flex;
					align-items: center;
					justify-content: space-between;
				}

				form {
					position: relative;
					input {
						min-width: 460px;
						height: 40px;
						box-shadow: 0 0 0 1px var(--main-color);
						border-radius: 6px;
						-webkit-border-radius: 6px;
						-moz-border-radius: 6px;
						-ms-border-radius: 6px;
						-o-border-radius: 6px;
						@media (max-width: 668px) {
							min-width: 320px;
							width: 100%;
						}
						@media (max-width: 518px) {
							min-width: 300px;
							width: 100%;
						}
						@media (max-width: 470px) {
							min-width: 250px;
							width: 100%;
						}
						@media (max-width: 440px) {
							min-width: 200px;
							width: 100%;
						}
					}
					button {
						position: absolute;
						top: 0px;
						right: 0px;
						width: 60px;
						height: 40px;
						border-radius: 6px;
						-webkit-border-radius: 6px;
						-moz-border-radius: 6px;
						-ms-border-radius: 6px;
						-o-border-radius: 6px;
						background-color: var(--main-color);
						@include mobile() {
							width: 40px;
							display: flex;
							align-items: center;
							justify-content: center;
							padding: 0;
						}
					}
				}
			}
			.favorite-card-menu {
				display: flex;
				align-items: center;
				grid-column-gap: 10px;
				@include mobile {
					display: none;
				}
				a,
				button {
					display: flex;
					flex-direction: column;
					align-items: center;
					grid-row-gap: 5px;
					background: transparent;
					img {
						max-width: 20px;
						height: 18px;
					}
					span {
						font-size: 10px;
					}
				}
				button.menu_btn {
					display: none;
					@include mobile() {
						display: inline-block;
					}
				}
			}
		}
	}

	.bottom-header {
		margin-top: 15px;
		.header_menu {
			display: grid;
			grid-template-columns: 20% 78%;
			grid-column-gap: 2%;
			position: relative;
			@media (max-width: 868px) {
				display: grid;
				grid-template-columns: repeat(1, 1fr);
			}
			.menu_catalog {
				border-radius: 10px;
				box-shadow: 0 0 0 2px var(--main-color);
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				-ms-border-radius: 10px;
				-o-border-radius: 10px;
				@media (max-width: 868px) {
					display: none;
					grid-template-columns: repeat(1, 1);
				}
				button {
					background-color: var(--main-color);
					color: white;
					width: 100%;
					height: 40px;
					border-radius: 6px;
					display: flex;
					align-items: center;
					grid-column-gap: 10px;

					-webkit-border-radius: 6px;
					-moz-border-radius: 6px;
					-ms-border-radius: 6px;
					-o-border-radius: 6px;
					img {
						width: 18px;
						height: 18px;
					}
					span {
						color: white;
						font-size: 16px;
					}
				}
				.catalog-menu {
					ul {
						display: flex;
						flex-direction: column;
						padding: 10px 20px;
						grid-row-gap: 10px;
						li {
							&.active {
								color: var(--main-color);
							}
							a {
								cursor: pointer;
								display: flex;
								align-items: center;
								&:hover {
									color: var(--main-color);
								}
								img {
									margin-right: 5px;
									display: inline-block;
									width: 17px;
									height: 17px;
								}
							}
							.sub-menu {
								position: absolute;
								grid-template-columns: repeat(3, 1fr);
								padding: 20px;
								top: 0px;
								right: 0;
								left: calc(20% + 9px);
								z-index: 100;
								width: calc(100% - 285px);
								height: 100%;
								overflow-y: auto;
								background: white;
								border: 2px solid var(--main-color);
								border-radius: 10px;
								display: none;
								ul {
									strong {
										display: block;
										padding-bottom: 5px;
										border-bottom: 1px solid rgb(170, 170, 170);
									}
									li {
										a {
											cursor: pointer;
											font-size: 14px;
											&:hover {
												color: var(--main-color);
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.main-menu {
				nav {
					height: 40px;
					display: block;
					display: flex;
					align-items: center;
					margin-bottom: 15px;
					@media (max-width: 1085px) {
						display: none;
					}
					ul {
						display: flex;
						align-items: center;
						grid-column-gap: 30px;
						li {
							min-width: 100px;
							text-align: center;
							font-weight: 600;
							a {
								&:hover {
									color: var(--main-color);
								}
							}
						}
					}
				}
				.main_slider {
					section.splide {
						height: 280px;
						.splide__track {
							.splide__list {
								.splide__slide {
									.slide-card {
										position: relative;
										overflow: hidden;
										border-radius: 20px;
										height: 280px;
										&:after {
											content: "";
											width: 100%;
											height: 100%;
											background-color: rgba(0, 0, 0, 50%);
											display: block;
											position: absolute;
											z-index: 2;
											top: 0;
											left: 0;
											right: 0;
											bottom: 0;
										}
										.img {
											img {
												width: 100%;
											}
										}
										.content {
											padding: 40px 80px;
											position: absolute;
											z-index: 3;
											display: flex;
											justify-content: center;
											flex-direction: column;
											width: 100%;
											height: 100%;
											top: 0px;
											left: 0;
											right: 0;
											right: 0;
											-webkit-border-radius: 20px;
											-moz-border-radius: 20px;
											-ms-border-radius: 20px;
											-o-border-radius: 20px;

											@include mobile() {
												padding: 30px 50px;
											}

											.slide_text {
												color: white;
												max-width: 50%;
												@include mobile() {
													max-width: 100%;
												}
												p {
													margin-top: 10px;
												}
											}
											.slide_button {
												margin-top: 20px;
												a {
													width: 150px;
													height: 32px;
													border-radius: 5px;
													border-radius: 10;
													-webkit-border-radius: 5px;
													-moz-border-radius: 5px;
													-ms-border-radius: 5px;
													-o-border-radius: 5px;
													background-color: white;
													color: black;
													display: flex;
													align-items: center;
													justify-content: center;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	&.page {
		.bottom-header {
			margin: 13px 0;
			margin-top: 20px;
			.header_menu {
				.menu_catalog {
					button {
						background-color: transparent;
						span {
							color: black;
							font-weight: 600;
						}
					}
					.catalog-menu {
						display: none;
					}
				}
				.main-menu {
					nav {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
section.cart {
	padding-bottom: 66px;
	.cart {
		width: 100%;
		border-top: 2px solid rgb(225, 225, 225);
		display: grid;
		grid-template-columns: 7fr 3fr;
		gap: 20px;
		padding-top: 40px;

		@media (max-width: 1100px) {
			grid-template-columns: 100%;
		}

		.cart_product {
			width: 100%;
			box-sizing: border-box;
			border: 1px solid rgb(42, 168, 66);
			border-radius: 10px;
			padding: 23px 33px;
			background: rgb(255, 255, 255);

			@media (max-width: 750px) {
				padding: 10px;
			}

			.cart_title {
				align-items: center;
				justify-content: flex-start;

				display: grid;
				grid-template-columns: 1fr 7fr 1fr 1fr;

				@media (max-width: 750px) {
					display: none;
				}

				p {
					color: rgb(0, 0, 0);
					font-family: Rubik;
					font-size: 20px;
					font-weight: 300;
					line-height: 24px;
					margin: 0;
					&:nth-child(1) {
					}
					&:nth-child(2) {
						margin-right: 30px;

						@media (min-width: 750px) {
							grid-column: 3 / 4;
						}
					}
					&:nth-child(3) {
					}
				}
			}
			.product {
				align-items: center;
				padding-block: 33px 24px;
				border-bottom: 2px solid rgb(208, 208, 208);
				display: grid;
				grid-template-columns: 1fr 7fr 1fr 1fr;

				@media (max-width: 750px) {
					grid-template-columns: 1fr 1fr 7fr;
					gap: 20px;
				}

				img {
					width: 64px;
					height: 64px;
					object-fit: cover;
				}
				.name_price {
					display: flex;
					align-items: flex-start;
					flex-direction: column;

					@media (max-width: 750px) {
						grid-column: 2/ 5;
					}

					p {
						margin: 5px;
						color: rgb(0, 0, 0);
						font-family: Noto Sans;
						font-size: 15px;
						font-weight: 400;
						line-height: 20px;
					}
				}
				.count {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 126px;
					height: 30px;
					box-sizing: border-box;
					border: 1px solid rgb(202, 202, 202);
					border-radius: 30px;
					background: rgb(255, 255, 255);
					padding: 0 14px;
					margin-right: 20px;

					@media (max-width: 750px) {
						grid-column: 1 / 3;
					}

					button {
						border: 2px solid transparent;
						background-color: transparent;
					}
				}
				h2 {
					color: rgb(0, 0, 0);
					font-family: Rubik;
					font-size: 20px;
					font-weight: 600;
					line-height: 24px;

					@media (max-width: 750px) {
						grid-column: 3;
					}
				}
			}
		}
		.result {
			width: 100%;
			height: 369px;
			box-sizing: border-box;
			border: 1px solid rgb(42, 168, 66);
			border-radius: 10px;
			background: rgb(255, 255, 255);
			padding: 23px 33px;

			@media (max-width: 750px) {
				padding: 10px;
			}

			h4 {
				color: rgb(0, 0, 0);
				font-family: Rubik;
				font-size: 16px;
				font-weight: 500;
				line-height: 19px;
			}
			.amount {
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-bottom: 2px solid rgb(192, 192, 192);
				margin-block: 30px 20px;
				padding-bottom: 12px;

				p {
					color: rgb(0, 0, 0);
					font-family: Rubik;
					font-size: 15px;
					font-weight: 300;
					line-height: 18px;
				}
			}
			.delivery {
				width: 100%;
				p {
					color: rgb(0, 0, 0);
					font-family: Rubik;
					font-size: 15px;
					font-weight: 300;
					line-height: 18px;
				}
				.rafio {
					display: flex;
					align-items: flex-start;
					justify-content: flex-start;
					flex-direction: column;
					border-bottom: 2px solid rgb(192, 192, 192);
					gap: 10px;
					padding-block: 10px 20px;

					label {
						display: flex;
						align-items: center;
						justify-content: space-between;
						gap: 10px;
					}

					input {
						width: 20px;
					}
				}
			}
			button {
				width: 295px;
				height: 49px;
				border-radius: 50px;
				background: rgb(42, 168, 66);
				color: rgb(255, 255, 255);
				font-family: Rubik;
				border: 2px solid transparent;
				font-size: 16px;
				font-weight: 500;
				line-height: 19px;
				margin-top: 50px;
			}
		}
	}
}

section.action-services {
	margin: 50px 0;
	.wrapper {
		.container {
			.services_slider {
				.splide__track {
					.splide__list {
						.splide__slide {
							border: 1px solid var(--main-color);
							border-radius: 10px;
							.slide-card {
								padding: 35px 30px;
								display: flex;
								align-items: center;
								@media (max-width: 1107px) {
								}
								.content {
									height: 150px;
									max-width: 50%;
									display: flex;
									flex-direction: column;
									justify-content: space-between;
									position: relative;
								}

								grid-column-gap: 10px;
								.slide_text {
									strong {
										font-size: 18px;
									}
								}
								.slide_button {
									a {
										color: var(--main-color);
										display: flex;
										grid-column-gap: 10px;
										align-items: center;
									}
								}
								.img {
									position: absolute;
									bottom: 20%;
									right: 10px;
									img {
										max-width: 180px;
										height: 100%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

section.breadcurms {
	margin: 30px 0;
	.wrapper {
		.container {
			display: flex;
			align-items: center;
			gap: 5px;
			flex-wrap: wrap;
			font-size: 14px;
			span {
				color: var(--main-color);
			}
			a {
				font-weight: 500;
			}
		}
	}
}

.title {
	margin-bottom: 40px;
	@include mobile() {
		margin-bottom: 20px;
	}
	h2 {
		font-size: 32px;
		@include mobile() {
			font-size: 24px;
		}
	}
}

.splide__pagination {
	li {
		button {
			background-color: var(--main-color);
			opacity: 0.5;
		}
		button.is-active {
			background-color: var(--main-color);
			opacity: 1;
		}
	}
}

.slide-card {
	.single-product-card {
		border: 1px solid var(--main-color);
		padding: 12px;
		border-radius: 10px;
		display: block;
		@include mobile() {
			padding: 10px;
		}
		.img {
			img {
				width: 80%;
				height: 100%;
				margin: 0 auto;
				display: block;
				object-fit: cover;
			}

			.text {
				margin-top: 15px;
				span,
				strong {
					display: block;
				}
				.product_price {
					font-size: 16px;
					font-weight: bold;
					@include mobile() {
						font-size: 14px;
					}
				}
				.product_title {
					margin: 5px 0 10px 0;
					font-weight: normal;
				}
			}
		}
		.text {
			.product_raiting {
				display: flex;
				align-items: center;

				img {
					width: 14px;
				}
				span {
					margin-left: 10px;
					line-height: 100%;
					font-size: 14px;
					font-weight: #616161;
				}
			}
			.product_whatsapp {
				a {
					width: 100%;
					height: 40px;
					border-radius: 40px;
					border: 1px solid var(--main-color);
					color: var(--main-color);
					margin: 10px 0;
					color: var(--main-color);
					display: flex;
					align-items: center;
					justify-content: center;
					grid-column-gap: 10px;
					transition: all 0.5s ease-in;
					&:hover {
						transition: all 0.5s ease-in;
						color: white;
						background-color: var(--main-color);
					}
					@include mobile() {
						ion-icon {
							display: none;
						}
						span {
							font-size: 13px;
						}
					}

					span {
						font-size: 14px;
					}
				}
			}
			.product_cart-btn {
				display: grid;
				grid-template-columns: 73% 23%;
				grid-column-gap: 4%;
				height: 44px;
				@include mobile() {
					height: 40px;
				}
				a {
					height: 100%;
					width: 100%;
					border-radius: 10px;
					background-color: var(--main-color);
					color: white;
					display: flex;
					align-items: center;
					justify-content: center;
					img {
						width: 25px;
						@include mobile() {
							display: none;
						}
					}
					span {
						font-size: 15px;
						font-weight: normal;
						margin-left: 10px;
					}
				}

				button {
					padding: 0;
					border: 2px solid var(--main-color);
					background: transparent;
					border-radius: 10px;

					img {
						min-width: 18px;
						width: 18px;
						height: 18px;
						min-height: 18px;
					}
				}
			}
		}
	}
}

section.total-sale,
section.popular-sale {
	.wrapper {
		.container {
			.total-sale-slider {
				padding-bottom: 40px;
			}
		}
	}
}

.alert_window {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 300;
	background-color: rgba($color: #000000, $alpha: 0.6);
	.answer {
		max-width: 500px;
		width: 90%;
		height: auto;
		padding: 40px;
		background-color: white;
		border-radius: 10px;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		font-size: 17px;
		&.success {
			color: var(--main-color);
		}
		&.error {
			color: red;
		}
	}
}
.modal-view-product {
	position: fixed;
	display: none;
	width: 100%;
	height: 100vh;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	align-items: center;
	justify-content: center;
	&.frame-show {
		display: flex;
		z-index: 200;
	}
	.frame {
		position: relative;
		max-width: 840px;
		background: white;
		width: 100%;

		padding: 30px;
		padding-bottom: 50px;
		box-shadow: 0px 0px 15px 3px rgb(207, 207, 207);
		border-radius: 10px;
		@include mobile() {
			max-width: 90%;
			padding: 20px;
		}

		.exit {
			position: absolute;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			top: 0;
			right: 0;

			button {
				position: absolute;
				right: 0;
				top: 0;
				background-color: transparent;
				border: none;
				font-size: 32px;
				width: 50px;
				height: 50px;
			}
		}
		.titile {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			margin-bottom: 20px;
			img {
				display: none;
				@include mobile() {
					display: block;
					width: 213px;
					height: 180px;
					margin-bottom: 20px;
				}
			}
			h3 {
				color: rgb(0, 0, 0);
				font-family: var(--rubik-font);
				font-size: 22px;
				font-weight: 500;
				line-height: 130%;
				@include mobile {
					text-align: center;
					font-size: 18px;
				}
			}
		}

		.info {
			display: flex;
			align-items: center;
			justify-content: center;
			@include mobile() {
				flex-direction: column;
			}

			img {
				width: 275px;
				height: 232px;
				@media (max-width: 820px) {
					display: none;
				}
			}
			.detali {
				margin-left: 54px;
				@include mobile() {
					margin-left: 0;
				}
				p {
					margin-bottom: 10px;
					font-weight: 500;
					font-size: 17px;
				}
				.sizes {
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					gap: 12px;
					max-width: 607px;
					width: 100%;
					box-sizing: border-box;
					border: 1px solid rgb(42, 168, 66);
					border-radius: 10px;
					background: rgb(255, 255, 255);
					padding: 21px;
					margin-bottom: 20px;
					@include mobile() {
					}
					button {
						max-width: 100%;
						height: 30px;
						border-radius: 10px;
						color: rgb(0, 0, 0);
						font-size: 14px;
						font-weight: 500;
						background: rgb(231, 231, 231);
						transition: 0.4s;
						&:hover {
							border-radius: 10px;
							background: rgb(42, 168, 66);
							color: white;
						}
					}
				}
				.colors {
					max-width: 607px;
					width: 100%;
					box-sizing: border-box;
					border: 1px solid rgb(42, 168, 66);
					border-radius: 10px;
					background: rgb(255, 255, 255);
					padding: 21px;
					flex-wrap: wrap;
					grid-gap: 10px;
					display: flex;
					button {
						max-width: 52px;
						width: 100%;
						height: 30px;
						border-radius: 10px;
						background: rgb(42, 168, 66);
						border: none;
						&:nth-child(2) {
							background: rgb(255, 199, 0);
						}
						&:nth-child(3) {
							background: rgb(235, 0, 27);
						}
						&:nth-child(4) {
							background: rgb(7, 129, 198);
						}
					}
				}
			}
			.add-to-cart {
				width: 100%;
				margin-top: 30px;
				a {
					width: 140px;
					height: 40px;
					background-color: var(--main-color);
					display: flex;
					align-items: center;
					justify-content: center;
					color: white;
					border-radius: 5px;
				}
			}
		}
	}
}

.view-card {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	align-items: center;
	display: none;
	justify-content: center;
	z-index: 100;
	.view-container {
		width: 700px;
		max-height: 700px;
		overflow-y: auto;
		background-color: #fff;
		padding: 30px 45px;
		border-radius: 20px;
		border: 1px solid var(--main-color);
		position: relative;
	}
	.view-card-close {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 30px;
		cursor: pointer;
	}
	strong {
		font-size: 22px;
		text-align: center;
		display: block;
		width: 100%;
	}
	.view-card__block {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 50px;
		margin-top: 30px;
		.img {
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				max-width: 100%;
				height: auto;
				margin: 0 auto;
			}
		}
		form {
			label {
				position: relative;
				border: 1px solid var(--main-color);
				border-radius: 10px;
				padding: 20px 20px 10px 20px;
				display: block;
				margin-bottom: 20px;

				span {
					position: absolute;
					font-size: 14px;
					font-weight: bold;
					padding: 5px 10px;
					background-color: #fff;
					top: -10px;
					left: 15px;
				}
				ul {
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					grid-gap: 10px;
					li {
						cursor: pointer;
						padding: 4px 10px;
						border-radius: 40px;
						min-height: 20px;
						min-width: 50px;
					}
				}

				&.product_size {
					ul {
						li {
							background-color: #e7e7e7;
							color: black;
							&:hover {
								color: white;
								background-color: var(--main-color);
							}
							&.active {
								background-color: var(--main-color);
								color: white;
							}
						}
					}
				}
				&.product_color {
					ul {
						li:hover {
							transform: scale(1.2);
						}
					}
				}
			}
			button {
				width: 240px;
				height: 40px;
				border-radius: 10px;
				background-color: var(--main-color);
				color: white;
			}
		}
	}
}

section.action-1 {
	@include mobile() {
		margin-top: 30px;
	}
	.wrapper {
		.container {
			.action-block {
				padding: 30px 50px;
				border-radius: 20px;
				background: rgb(255, 254, 250);
				background: linear-gradient(135deg, rgba(255, 254, 250, 1) 0%, rgba(255, 242, 194, 1) 100%);
				border: 1px solid #cbcbcb;
				@include mobile() {
					padding: 20px;
				}
				.block-title {
					h2 {
						font-size: 27px;
						margin-bottom: 20px;
						@include mobile() {
							font-size: 20px;
						}
					}
					p {
						max-width: 70%;
						font-size: 20px;
						@include mobile() {
							font-size: 16px;
							max-width: 100%;
						}
					}
				}
			}
		}
	}
}

section.popular-sale {
	padding: 40px 0;
	.wrapper {
		.container {
			.popular-sale-slider {
				padding-bottom: 40px;
				.splide__slide {
					display: flex;
					flex-direction: column;
					grid-gap: 20px;
				}
			}
		}
	}
}

section.rent-inc-container {
	.wrapper {
		.container {
			.rent-block {
				background: rgb(255, 254, 250);
				background: linear-gradient(135deg, rgba(255, 254, 250, 1) 0%, rgba(255, 242, 194, 1) 100%);
				padding: 40px 30px;
				border-radius: 20px;
				border: 1px solid #bfbfbf;
				@include mobile() {
					padding: 20px;
				}
				.block-title {
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					margin-bottom: 30px;
					.left {
						h2 {
							font-size: 27px;
							margin-bottom: 20px;
							@include mobile() {
								font-size: 20px;
							}
						}
						p {
							max-width: 70%;
							font-size: 20px;
							@include mobile() {
								font-size: 16px;
								max-width: 100%;
							}
						}
					}
					.right {
						@include mobile {
							display: none;
						}
						a {
							width: 240px;
							height: 50px;
							border-radius: 5px;
							background-color: var(--main-color);
							color: white;
							display: flex;
							align-items: center;
							justify-content: space-between;
							padding: 0 20px;
						}
					}
				}
				.instrument-lists {
					display: flex;
					@include mobile {
						flex-direction: column;
						gap: 10px;
					}
					.big {
						width: 50%;
						height: 100%;
						padding-right: 20px;
						@include mobile {
							width: 100%;
							padding-right: 0;
						}
						.list {
							height: 500px;
							object-position: center center;
							@include mobile() {
								height: 270px;
							}
						}
					}
					.small {
						width: 50%;
						display: grid;
						grid-template-columns: repeat(2, 1fr);
						grid-gap: 20px;
						@include mobile {
							width: 100%;
							grid-gap: 10px;
						}
					}
					.list {
						border-radius: 10px;
						overflow: hidden;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}
			}
		}
	}
}

section.popular-product-second {
	margin-top: 50px;
	.wrapper {
		.container {
			.product-lists {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 20px;
				overflow-x: auto;
				&::-webkit-scrollbar {
					width: 5px;
					height: 5px;
					background-color: #e4e4e4;
					border-radius: 4px;
				}
				&::-webkit-scrollbar-thumb {
					background-color: #2aa842;
					border-radius: 4px;
				}
				@media (max-width: 1135px) {
					grid-template-columns: repeat(2, 1fr);
				}
				@include mobile {
					display: flex;
					padding-bottom: 20px;
				}
				.list {
					display: grid;
					grid-template-columns: 30% 50% 10%;
					grid-gap: 3%;
					padding: 16px;
					border-radius: 10px;
					border: 1px solid var(--main-color);
					@include mobile() {
						width: 100%;
						min-width: 100%;
					}
					.img {
						display: flex;
						align-items: center;
						img {
							max-width: 150px;
							max-height: 150px;
						}
					}
					.content {
						.category {
							span {
								color: var(--main-color);
								font-size: 16px;
							}
						}
						.text {
							margin: 10px 0;
							p {
								font-size: 18px;
								margin-bottom: 10px;
							}
						}
						.raiting {
							img {
								width: 14px;
							}
							span {
								margin-left: 10px;
							}
						}
					}
					.action-btn {
						display: flex;
						flex-direction: column;
						justify-content: start;
						align-items: center;
						grid-gap: 5px;
						button {
							padding: 0;
							background-color: transparent;
							img {
								width: 25px;
							}
						}
						a {
							img {
								width: 30px;
							}
						}
					}
				}
			}
		}
	}
}

section.brends {
	margin: 40px 0;
	.wrapper {
		.container {
			.brends_slide {
				padding-bottom: 40px;
			}
		}
	}
}

footer {
	background-color: var(--footer-bg);
	padding: 40px 0;
	padding-bottom: 0;
	color: white;
	@include mobile() {
		padding: 24px 0;
		padding-bottom: 0;
	}
	.footer {
		display: flex;
		@include mobile {
			flex-direction: column-reverse;
			align-items: center;
		}
		.logo {
			width: 30%;
			@include mobile {
				width: 100%;
				.footer_logo {
					display: none;
				}
				.footer_logo_text {
					display: none;
				}
			}
			.contacts-adress {
				margin-top: 15px;
				@include mobile() {
					margin-top: 25px;
				}
				ul {
					margin-bottom: 13px;
					li {
						margin-bottom: 4px;
						@include mobile() {
							margin-bottom: 8px;
						}
						a {
							color: white;
							display: flex;
							align-items: center;
							grid-gap: 10px;
						}
					}
				}
			}
		}
		.menus {
			width: 70%;
			padding-left: 50px;
			display: flex;
			flex-wrap: wrap;
			grid-gap: 40px;
			margin-top: 14px;
			@include mobile {
				width: 100%;
				padding-left: 0;
				grid-row-gap: 15px;
			}
			.menu {
				@include mobile() {
					width: 45%;
					&:last-child {
						width: 100%;
					}
				}
				strong {
					font-size: 20px;
					display: block;
					margin-bottom: 12px;
					font-weight: 400;
					@include mobile {
						display: none;
					}
				}
				ul {
					li {
						a {
							color: white;
							display: block;
							margin-bottom: 8px;
						}
					}
				}
			}
		}
	}
	.copyright {
		margin-top: 20px;
		border-top: 1px solid white;
		@include mobile() {
			padding: 0 20px;
			background-color: #000000;
			border: none;
		}
		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 15px 0;
		}
		p {
			font-size: 14px;
			color: #919191;
		}
		ul {
			display: flex;
			grid-column-gap: 10px;
			align-items: center;
			li {
				display: flex;
				align-items: center;
				img {
					width: 100%;
					height: 30px;
					@include mobile() {
						height: 24px;
					}
				}
			}
		}
	}
}

section.about-container {
	.wrapper {
		.container {
			.about-items {
				display: grid;
				grid-template-columns: repeat(1, 1fr);
				padding: 40px 0;
				padding-top: 0px;
				.item {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					grid-gap: 30px;
					align-items: center;
					margin-bottom: 50px;
					@include mobile() {
						grid-template-columns: repeat(1, 1fr);
					}
					.content {
						.top-subject {
							display: inline-block;
							padding: 8px 20px;
							border-radius: 20px;
							background-color: #6ee785;
							color: black;
							margin-bottom: 20px;
						}
						.text {
							h2 {
								font-size: 30px;
								margin-bottom: 10px;
								@include mobile() {
									font-size: 20px;
								}
							}
							p {
								font-size: 16px;
							}
						}
					}
					@include mobile() {
						&:last-child {
							.img {
								grid-row: 2;
							}
							.content {
								grid-row: 1;
							}
						}
					}
					.img {
						display: flex;
						max-height: 80%;
						align-items: center;
						img {
							width: 100%;
							object-fit: scale-down;
							height: min-content;
						}
					}
				}
			}
		}
	}
}

section.bread {
	.wrapper {
		.container {
			.links {
				display: flex;
				align-items: center;
				grid-gap: 5px;
				a,
				span {
					font-size: 14px;
				}

				span {
					color: var(--main-color);
				}
			}
			.line {
				border: 1px solid #e1e1e1;
			}
		}
	}
}

#faq {
	padding-bottom: 30px;
	h2 {
		font-size: 35px;
		margin-bottom: 30px;
		@include mobile() {
			font-size: 24px;
			margin-bottom: 15px;
		}
	}

	.faq {
		display: grid;
		grid-template-columns: 60% 35%;
		gap: 5%;

		@include mobile() {
			grid-template-columns: repeat(1, 1fr);
		}

		.answer {
			display: flex;
			flex-direction: column;
			gap: 18px;

			.item {
				width: 100%;
				overflow: hidden;
				transition: 1s;
				gap: 20px;

				button {
					width: 100%;
					padding: 24px;
					border: 1px solid rgb(221, 221, 221);
					border-radius: 8px;
					background-color: transparent;
					font-size: 16px;
					letter-spacing: 0%;
					display: flex;
					align-items: center;
					justify-content: space-between;

					@include mobile() {
						padding: 10px;
					}
					p {
						font-size: 16px;
						text-align: left;
						@include mobile() {
							font-size: 15px;
						}
					}

					&:hover {
						border: 1px solid rgb(42, 168, 66);
					}

					&:active {
						color: white;
						background: rgb(42, 168, 66);
					}

					div {
						min-width: 50px;
						width: 24px;
						height: 24px;
						display: flex;
						align-items: center;
						justify-content: center;
					}
					&.show {
						.plus {
							display: none;
						}
						.minus {
							display: block;
						}
					}
					.plus {
						display: block;
					}
					.minus {
						display: none;
					}
				}

				.text {
					display: none;
					padding: 5px 30px;
					margin: 10px 0;
					@include mobile() {
						padding: 10px;
					}

					p {
						font-size: 15px;
						font-weight: 300;
						@include mobile() {
							font-size: 14px;
						}
					}
				}

				&-active {
					height: auto;

					button {
						.plus {
							display: none;
						}
						.minus {
							display: block;
						}
					}
				}
			}
		}

		.question {
			padding: 30px;
			border-radius: 10px;
			border: 1px solid rgb(227, 227, 227);
			height: max-content;
			@include mobile() {
				margin-bottom: 30px;
				padding: 20px;
			}

			width: 100%;
			background: rgb(252, 252, 252);

			h3 {
				color: rgb(0, 0, 0);
				font-size: 22px;
				font-weight: 500;
			}

			p {
				color: rgb(0, 0, 0);
				font-weight: 400;
				line-height: 140%;
				margin: 18px 0;
			}

			a {
				display: inline-block;
				padding: 11px 40px;
				border-radius: 50px;
				background: rgb(42, 168, 66);
				color: rgb(255, 255, 255);
				font-weight: 400;
			}
		}
	}
}

#contact {
	.container {
		width: 100%;
		margin-bottom: 30px;
		.contact {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 30px 20px;
			@include mobile() {
				grid-template-columns: repeat(1, 1fr);
			}
			&-left {
				.text {
					h2 {
						font-size: 27px;
						margin-bottom: 10px;
						@include mobile() {
							font-size: 24px;
						}
					}
				}

				.address {
					margin-top: 30px;
					display: flex;
					flex-direction: column;
					gap: 15px;
					.item {
						display: flex;
						align-items: center;
						gap: 15px;

						.image {
							width: 42px;
							height: 42px;
							position: relative;
							display: flex;
							align-items: center;
							justify-content: center;
							background: rgb(110, 231, 133);
							border-radius: 50%;
							img {
								width: 24px;
							}
						}
						.phone {
							strong {
								display: block;
								font-size: 16px;
								margin-bottom: 5px;
							}
						}
					}
				}
			}

			&-right {
				position: relative;
				width: 100%;
				height: 20vw;

				@media (min-width: 1200px) {
					max-width: 650px;
				}

				@media (max-width: 1450px) {
					height: 25vw;
				}

				@media (max-width: 1200px) {
					height: 50vw;
				}

				img {
					position: absolute;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

#shop {
	.container {
		.sort-modal-item {
			display: none;
			width: 100%;
			height: 100vh;
			padding: 10px;
			background-color: #fff;
			position: fixed;
			z-index: 200;
			left: 0;
			top: 0;

			.category {
				.title{
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding-bottom: 4px;
					border-bottom: 1px solid #bfbfbf;
					margin-bottom: 10px;
					strong{
						font-size: 20px;
					}
					span{
						color:black;
						background: transparent;
						ion-icon{
							font-size: 33px;
						}
					}
				}
				strong{
					display: block;
					margin-bottom: 10px;
					margin-top: 10px;
				}
				.price {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					gap: 20px;


					input {
						display: flex;
						align-items: center;
						justify-content: space-between;
						border: 1px solid rgb(179, 179, 179);
						border-radius: 6px;
						width: 100%;
						height: 40px;
					}
					span{
						display: flex;	
						align-items: center;
						justify-content: center;
					}
				}
				.checkbox {
					display: grid;
					grid-template-columns: repeat(3, 4fr);
					align-items: center;
					grid-gap: 10px;
					justify-content: center;
					label{
						padding:10px;
						width:100%;
						height: 40px;
						border-radius: 5px;
						background-color: #efefef;
						display: flex;
						align-items: center;
						gap:6px;
						font-size: 15px;
					}
					input:checked ~ label{
						background-color: var(--main-color);
						color:white;
					}
				}
				button {
					width: 100%;
					height: 57px;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 19px 126px 19px 126px;
					border-radius: 10px;
					margin-top: 40px;
					background: rgb(42, 168, 66);
					color: #fff;
					border: transparent;
				}
			}
		}

		.shop {
			width: 100%;
			display: grid;
			border-top: 2px solid rgb(225, 225, 225);
			padding-top: 20px;
			grid-template-columns: 2fr 8fr;
			gap: 30px;

			@media (max-width: 992px) {
				grid-template-columns: 100%;
			}

			&.sub-category-page {
				grid-template-columns: repeat(1, 1fr);
				.sub_category {
					overflow: auto;
					padding-bottom: 15px;
					.type {
						grid-template-columns: repeat(5, 1fr);
					}
				}
			}

			.category {
				padding: 20px;
				width: 100%;
				min-height: 150px;
				height: 100%;
				border: 1px solid rgb(148, 146, 146);
				border-radius: 10px;

				strong {
					display: inline-block;
					font-size: 16px;
					margin-bottom: 5px;
					color: var(--main-color);
				}
				ul {
					margin-left: 6px;
					width: 100%;
					li {
						margin-bottom: 5px;
						width: 100%;

						&.active {
							& > a {
								color: var(--main-color);
								& > ion-icon {
									display: block;
								}
							}
						}
						& > a {
							font-size: 15px;
							font-weight: 500;
							display: flex;
							align-items: center;
							justify-content: space-between;
							width: 100%;
						}
						ion-icon {
							display: none;
						}
						&:hover {
							ion-icon {
								color: var(--main-color);
								display: inline-block;
							}
							a {
								color: var(--main-color);
							}
						}
						ul.sub-menu {
							display: none;
							li {
								margin-bottom: 3px;
								&:first-child {
									margin-top: 4px;
								}
								a {
									font-size: 14px;
									font-weight: 400;
									color: black;
									&:hover {
										color: var(--main-color);
									}
								}
							}
						}
					}
				}
			}
			.sub_category {
				.type {
					position: relative;
					width: 100%;
					display: grid;
					grid-template-columns: repeat(4, 1fr);
					align-items: start;
					align-content: start;
					grid-gap: 10px;

					@include mobile() {
						grid-template-columns: repeat(2, 1fr);
					}
					&.none {
						display: none;
					}

					.type_block {
						a {
							display: flex;
							align-items: center;
							grid-gap: 10px;
							min-height: 60px;
							border: 1px solid #919191;
							border-radius: 10px;
							padding: 5px 10px;
							@include mobile() {
								grid-gap: 0px;
								flex-direction: column;
							}
						}

						p {
							padding-left: 18px;
							border-left: 1px solid rgb(148, 146, 146);
							font-size: 14px;
							@include mobile() {
								padding-left: 5px;
								border: none;
								text-align: center;
							}
						}
					}
				}
			}
		}
		.filter {
			margin-top: 90px;
			display: flex;
			gap: 30px;
			@include mobile() {
				margin-top: 30px;
			}

			.category-filter {
				width: 100%;

				&-show {
					display: block;
				}

				strong.filter-title{
					display: block;
					color: rgb(42, 168, 66);
					font-size: 18px;
					font-weight: 500;
					border-bottom: 1px solid rgb(42, 168, 66);
					padding-bottom: 10px;
				}
				strong {
					margin-bottom: 10px;
					color: rgb(0, 0, 0);
					font-family: var(--rubik-font);
					font-size: 14px;
					font-weight: 700;
					line-height: 17px;
					display: block;
				}
				.price {
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-bottom: 40px;
					input {
						width:45%;
						border:1px solid #bfbfbf;
						height: 40px;
						border-radius: 5px;
					}
				}
				.checkbox {
					display: grid;
					grid-template-columns: repeat(3, 4fr);
					align-items: center;
					grid-gap: 10px;
					justify-content: center;

					input,
					label {
						display: flex;
						grid-gap: 10px;
						align-items: center;
					}
				}
				button {
					max-width: 339px;
					width: 100%;
					height: 57px;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 19px 126px 19px 126px;
					border-radius: 10px;
					margin-top: 40px;
					background: rgb(42, 168, 66);
					color: #fff;
					border: transparent;
				}
			}
			.product {
				width: 100%;

				.product_count {
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-bottom: 32px;

					h2 {
						color: rgb(0, 0, 0);
						font-family: var(--rubik-font);
						font-size: 16px;
						font-weight: 300;
						line-height: 19px;
					}
					select{
						border:1px solid #bfbfbf;
						height: 40px;
						border-radius: 5px;
					}
				}

				.main-products {
					display: grid;
					grid-template-columns: 20% 78%;
					grid-gap: 2%;

					.main-filter {
						.sort {
							display: grid;
							grid-template-columns: 1fr 1fr;
							width: 100%;
							align-items: center;
							gap: 20px;
							display: none;

							@include mobile() {
								display: grid;
							}

							button {
								height: 40px;
								display: flex;
								align-items: center;
								justify-content: center;
								border-radius: 6px;
								background: rgb(42, 168, 66);
								color: rgb(255, 255, 255);
								font-size: 16px;
								grid-gap: 5px;
								font-size: 14px;
							}

							select {
								padding: 13px;
							}

							button,
							select {
								width: 100%;
							}
						}
					}
					.products {
						grid-template-columns: repeat(4, 1fr);
					}
				}
				.products {
					display: grid;
					grid-template-columns: repeat(5, 1fr);
					gap: 20px;

					@include mobile() {
						grid-template-columns: repeat(2, 1fr);
						grid-gap: 6px;
					}

					.product_block {
						width: 100%;
						border: 0.5px solid rgb(42, 168, 66);
						border-radius: 12px;
						background: rgb(255, 255, 255);

						.product_img {
							display: flex;
							align-items: center;
							justify-content: center;
							padding: 20px;
							img {
								width: 124.79px;
								height: 105.71px;
							}
						}
						h3 {
							color: rgb(0, 0, 0);
							font-family: var(--rubik-font);
							font-size: 16px;
							font-weight: 600;
							line-height: 22px;
							padding-inline: 10px;
						}
						h4 {
							color: rgb(0, 0, 0);
							font-family:var(--rubik-font);
							font-size: 15px;
							font-weight: 400;
							margin: 0;
							padding-inline: 10px;
						}
						.star {
							display: flex;
							align-items: center;
							gap: 4px;
							width: 100%;
							padding-inline: 10px;

							p {
								color: rgb(133, 133, 133);
								font-family:var(--rubik-font);
								font-size: 10px;
								font-weight: 500;
								line-height: 12px;
							}
						}
						.tel {
							align-items: center;
							box-sizing: border-box;
							border: 1px solid rgb(42, 168, 66);
							border-radius: 50px;
							background: rgb(255, 255, 255);
							padding-inline: 10px;
							margin-inline: 10px;
						}
						.btns {
							display: flex;
							align-items: center;
							margin-top: 12px;
							justify-content: space-between;
							padding-inline: 10px;
							padding-bottom: 10px;

							button {
								display: flex;
								align-items: center;
								justify-content: center;
								gap: 10px;
								max-width: 160px;
								width: 100%;
								height: 33px;
								border-radius: 8px;
								background: rgb(42, 168, 66);
								border: 1px solid rgb(42, 168, 66);
								color: #fff;
								&:nth-child(2) {
									width: 47.22px;
									height: 33px;
									box-sizing: border-box;
									border: 1px solid rgb(42, 168, 66);
									background-color: transparent;
									border-radius: 8px;
								}
							}
						}
					}
				}
			}
		}
		.filter.sub-category-page-filter{
			.product .main-products{
				grid-template-columns: repeat(1,1fr);
				@include mobile(){
					grid-gap: 0;
				}
				.main-filter{
					.sort{
						select{
							height: 40px;
							width:100%;
							border:1px solid #bfbfbf;
							padding:10px;
							border-radius: 5px;
						}
					}
				}
				.products{
					margin-top:30px;
					grid-template-columns: repeat(2,1fr);

					
				}
			}
		}
		.pagination {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 40px;
			margin-bottom: 30px;
			gap: 20px;
			button {
				width: 41px;
				height: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 11px;
				border-radius: 6px;
				border: 1px solid rgb(213, 213, 213);
				background: rgb(213, 213, 213);
				color: rgb(0, 0, 0);
				font-family: var(--rubik-font);
				font-size: 14px;
				font-weight: 500;
				line-height: 130%;
				&:hover {
					width: 39px;
					height: 40px;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 11px 16px 11px 16px;
					border-radius: 6px;
					color: #fff;
					background: rgb(42, 168, 66);
					border: 1px solid rgb(42, 168, 66);
				}
			}
		}
	}
}


#checkout {
	background: rgb(245, 245, 245);
	.container {
	  width: 80%;
	  margin: 0 auto;
	  padding: 20px;
	  .path {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 15px;
		p {
		  display: flex;
		  align-items: center;
		  color: rgb(0, 0, 0);
		  font-family: Rubik;
		  font-size: 16px;
		  font-weight: 400;
		  line-height: 19px;
		  letter-spacing: 0%;
		  cursor: pointer;
		  &:hover {
			color: rgb(42, 168, 66);
			font-family: Rubik;
			font-size: 16px;
			font-weight: 400;
			line-height: 19px;
			letter-spacing: 0%;
		  }
		}
	  }
	  .checkout {
		width: 100%;
		border-top: 2px solid rgb(225, 225, 225);
		display: flex;
		align-items: flex-start;
		.checkout_data {
		  border-right: 2px solid rgb(225, 225, 225);
		  max-width: 956px;
		  width: 100%;
		  .btns {
			display: flex;
			align-items: center;
			gap: 46px;
			padding-top: 20px;
			button {
			  max-width: 247px;
			  width: 100%;
			  height: 60px;
			  display: flex;
			  flex-direction: row;
			  justify-content: center;
			  align-items: center;
			  box-sizing: border-box;
			  border: 1px solid rgb(203, 203, 203);
			  border-radius: 10px;
			  border: 1px solid transparent;
			  background: rgb(237, 237, 237);
			  color: rgb(104, 104, 104);
			  font-family: Rubik;
			  font-size: clamp(14px, 2vw, 18px);
			  font-weight: 600;
			  line-height: 21px;
			  letter-spacing: 0%;
			  text-align: left;
			  &:hover {
				border-radius: 10px;
				border: 2px solid rgb(42, 168, 66);
			  }
			  &:focus {
				border-radius: 10px;
				color: #fff;
				background: rgb(42, 168, 66);
			  }
			}
		  }
		  .modals {
			width: 100%;
			padding: 43px 0;
			.delivery {
			  width: 100%;
			  .delivery_btns {
				width: 100%;
				display: flex;
				align-items: center;
				gap: 20px;
				button {
				  width: auto;
				  position: relative;
				  height: 60px;
				  padding: 0 20px;
				  display: flex;
				  flex-direction: row;
				  justify-content: center;
				  align-items: center;
				  box-sizing: border-box;
				  border-bottom: none;
				  border-left: 2px solid rgb(225, 225, 225);
				  border-right: 2px solid rgb(225, 225, 225);
				  border-top: 2px solid rgb(225, 225, 225);
				  border-radius: 10px 10px 0px 0px;
				  background: rgb(255, 255, 255);
				  color: rgb(135, 135, 135);
				  font-family: Rubik;
				  font-size: 18px;
				  font-weight: 600;
				  line-height: 21px;
				  &:hover {
					box-sizing: border-box;
					border-left: 2px solid rgb(42, 168, 66);
					border-right: 2px solid rgb(42, 168, 66);
					border-top: 2px solid rgb(42, 168, 66);
					border-radius: 10px 10px 0px 0px;
					color: rgb(42, 168, 66);
					background: rgb(255, 255, 255);
				  }
				  &:focus {
					box-sizing: border-box;
					border-left: 2px solid rgb(42, 168, 66);
					border-right: 2px solid rgb(42, 168, 66);
					border-top: 2px solid rgb(42, 168, 66);
					border-radius: 10px 10px 0px 0px;
					color: rgb(42, 168, 66);
					background: rgb(255, 255, 255);
				  }
				}
			  }
			  .delivery_data3 {
				max-width: 920px;
				width: 100%;
				box-sizing: border-box;
				border: 1px solid rgb(42, 168, 66);
				border-radius: 0px 10px 10px 10px;
				padding: 30px 44px;
				background: rgb(255, 255, 255);
				h3 {
				  color: rgb(0, 0, 0);
				  font-family: Rubik;
				  font-size: clamp(12px, 2vw, 16px);
				  font-weight: 600;
				  line-height: 19px;
				  letter-spacing: 0%;
				  text-align: left;
				}
				.address {
				  width: 100%;
				  border-top: 2px solid rgb(225, 225, 225);
				  display: flex;
				  align-items: center;
				  justify-content: flex-start;
				  flex-wrap: wrap;
				  gap: 22px;
				  padding-top: 20px;
				  button {
					width: auto;
					height: 45px;
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					padding: 19px 0px 19px 0px;
					border-radius: 10px;
					border: 2px solid transparent;
					background: rgb(235, 235, 235);
					color: rgb(20, 20, 20);
					font-family: Rubik;
					font-size: clamp(12px, 1vw, 16px);
					font-weight: 400;
					line-height: 19px;
					letter-spacing: 0%;
					text-align: left;
					padding: 0 20px;
					&:hover {
					  border: 2px solid rgb(42, 168, 66);
					}
					&:focus {
					  background-color: rgb(42, 168, 66);
					  color: #fff;
					}
				  }
				}
			  }
			}
		  }
		  .client_data {
			max-width: 920px;
			width: 100%;
			box-sizing: border-box;
			border: 1px solid rgb(42, 168, 66);
			border-radius: 10px;
			padding: 30px 44px;
			background: rgb(255, 255, 255);
			h3 {
			  color: rgb(0, 0, 0);
			  font-family: Rubik;
			  font-size: clamp(14px, 2vw, 16px);
			  font-weight: 600;
			  line-height: 19px;
			}
			.info {
			  width: 100%;
			  border-top: 2px solid rgb(225, 225, 225);
			  display: flex;
			  align-items: center;
			  justify-content: flex-start;
			  flex-wrap: wrap;
			  padding-top: 20px;
			  gap: 44px;
			  .info_list {
				max-width: 370px;
				width: 100%;
				p {
				  color: rgb(0, 0, 0);
				  font-family: Rubik;
				  font-size: clamp(10px, 1vw, 14px);
				  font-weight: 300;
				  line-height: 17px;
				  margin: 0;
				}
				input {
				  width: 100%;
				  height: 50px;
				  box-sizing: border-box;
				  border: 1px solid rgb(236, 236, 236);
				  border-radius: 4px;
				  padding: 0 20px;
				  background: rgb(251, 251, 251);
				  color: rgb(0, 0, 0);
				  font-family: Rubik;
				  font-size: 14px;
				  font-weight: 300;
				  line-height: 17px;
				}
				textarea {
				  width: 100%;
				  height: 450px;
				  box-sizing: border-box;
				  border: 1px solid rgb(236, 236, 236);
				  border-radius: 4px;
				  padding: 0 20px;
				  background: rgb(251, 251, 251);
				  color: rgb(0, 0, 0);
				  font-family: Rubik;
				  font-size: 14px;
				  font-weight: 300;
				  line-height: 17px;
				}
			  }
			}
		  }
		}
		.checkout_check {
		  max-width: 468.5px;
		  width: 100%;
		  margin-left: 33.5px;
		  margin-top: 44.5px;
		  .check {
			max-width: 435px;
			width: 100%;
			background: rgb(255, 255, 255);
			padding: 28px 0;
			img {
			  padding: 0 36px;
			}
			p {
			  color: rgb(0, 0, 0);
			  font-family: Rubik;
			  font-size: clamp(10px, 1vw, 14px);
			  font-weight: 400;
			  line-height: 17px;
			  padding: 0 36px;
			}
			.check_list {
			  position: relative;
			  max-width: 435px;
			  padding: 0 36px;
			  border-top: 2px solid rgb(225, 225, 225);
			  .product {
				padding-top: 20px;
				width: 100%;
				display: flex;
				align-items: center;
				gap: 20px;
				p {
				  color: rgb(0, 0, 0);
				  font-family: Rubik;
				  font-size: 12px;
				  font-weight: 400;
				  line-height: 14px;
				  padding: 0;
				}
			  }
			}
			.result {
			  display: flex;
			  align-items: center;
			  justify-content: space-between;
			  padding: 83px 36px 0 36px;
			  h2 {
				color: rgb(0, 0, 0);
				font-family: Rubik;
				font-size: clamp(16px, 2vw, 26px);
				font-weight: 500;
				line-height: 31px;
				letter-spacing: 0%;
				text-align: left;
				text-transform: uppercase;
			  }
			}
			.service {
			  max-width: 364px;
			  width: 100%;
			  .service_list {
				display: flex;
				align-items: center;
				justify-content: space-between;
				p {
				  color: rgb(0, 0, 0);
				  font-family: Rubik;
				  font-size: clamp(10px, 1vw, 14px);
				  font-weight: 400;
				  line-height: 17px;
				}
			  }
			}
			.payment {
			  max-width: 364px;
			  width: 100%;
			  padding: 50px 36px 0 36px;
			  h2 {
				color: rgb(0, 0, 0);
				font-family: Rubik;
				font-size: 16px;
				font-weight: 500;
				line-height: 19px;
				text-transform: uppercase;
			  }
			  .payment_list {
				width: 100%;
				.radio {
				  display: flex;
				  align-items: center;
				  gap: 10px;
				  width: 365px;
				  height: 44px;
				  box-sizing: border-box;
				  border: 1px solid rgb(176, 176, 176);
				  border-radius: 5px;
				  padding: 0 15px;
				  background: rgb(255, 255, 255);
				  margin-top: 20px;
				  .icons {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: flex-end;
					img {
					  padding: 5px;
					}
				  }
				}
			  }
			}
			.politika {
			  width: 100%;
			  p {
				font-family: Rubik;
				font-size: 12px;
				font-weight: 300;
				line-height: 140%;
				text-align: left;
				color: rgb(0, 0, 0);
				a {
				  color: rgb(0, 117, 255);
				}
			  }
			}
			.btn {
			  padding: 40px 60px;
			  display: flex;
			  align-items: center;
			  justify-content: center;
			  button {
				/* Rectangle 34 */
				width: 295px;
				height: 49px;
				border-radius: 50px;
				background: rgb(27, 27, 27);
				color: rgb(255, 255, 255);
				font-family: Rubik;
				font-size: 16px;
				font-weight: 500;
				line-height: 19px;
			  }
			}
			.contacts {
			  width: 100%;
			  .contact_list {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				p {
				  color: rgb(99, 99, 99);
				  font-family: Rubik;
				  font-size: 12px;
				  font-weight: 400;
				  line-height: 14px;
				}
			  }
			}
		  }
		}
	  }
	}
  }
  